.content h1 {
	font-size: 30px;
	color: #354b59;
	font-family: 'proxima-nova', sans-serif;
}

.content h2 {
	font-size: 1.25em;
	font-family: 'proxima-nova', sans-serif;
	color: #7c97a6;
	font-weight: 600;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	padding-bottom: 20px;
	border-bottom: 1px solid #EDF1F4;
}

.content h3 {
	font-family: 'proxima-nova', sans-serif;
	font-size: 1.3em;
	font-weight: 600;
	margin: 40px 0 20px;
}

p {
	font-size: 16px;
}


.content-wrapper {
	max-width: 1000px;
	margin: 50px 0;
	padding: 0 10px;
	
}

.content-wrapper:after {
	content: "";
	display: table;
	clear: both;
}


/* MENU */

menu {
	margin-right: 20px;
	padding: 0;
	float: left;
	width: 210px;
	position: absolute;
}

menu li {
	padding: 5px 20px;
}

menu a {
	color: #354B59;
}

menu li:hover, menu li:active {
	background-color: rgba(92,196,190,.9);
	color: #FFFFFF;
}

.sublist {
	padding-left: 15px;
}

menu.affix {
	position: fixed;
	top: 30px;
}

.divider {
	height: 1px;
	background-color: #EDF1F4;
	margin: 10px;
	padding: 0;
}


/* CONTENT */


.content {
	float: right;
	max-width: 740px;
	}

	.content a {
	color: #1EA89D;
	font-weight: 600;
	}

	.content a:hover {
		color: #007572;
	}

section {
	margin: 60px 0 90px;
}

section h2 {
	margin-bottom: 25px;
}

section p {
	margin-bottom: 20px;
}




/* CONTENT DETAILS */


code {
	color: #2E95CE;
	background-color: #FFFFFF;
	font-size: 13px;
}

pre {
	border: none;
	border-radius: 0px;
	background-color: #F7F8F9;
	margin: 15px 0 25px;
}

.download {
	background-color: #359DE0;
	color: #FFFFFF;
	margin: 20px 0;
	padding: 10px 15px 8px;
	border-radius: 5px;
	border: none;
}

.download:hover {
	background-color: #2883B4;
}

.version {
	font-size: 14px;
	font-weight: 600;
	display: inline;
	margin: 0 15px;
}


td {
	min-width: 170px;
	vertical-align: top;
	padding: 6px 0;
}

tr:not(:last-child){
	border-bottom: 1px solid #F9F9F9;
}

