/* For Glossary Styles */
@import url("docs.css");




.theater {
	width: 100%;
	background-color: #FFFFFF;
	padding: 40px 0;
}

.video-container {
	background-color: #FAFAFA;
	padding: 60px 0;
}

	.video-intro {
		margin-bottom: 40px;
	}


	.video-list {
		width: 970px;
		margin: 0 auto;
	}


.video {
	padding: 0 20px;
	margin: 15px;
	width: 290px;
	min-height: 350px;
	vertical-align: top;
	position: relative;
}

.video img {
	margin: 25px 0;
	opacity: 0.7;
	border-radius: 100%;
	width: 170px;
}

.video:hover img {
	opacity: 1;
}

.video h4 {
	line-height: 1.4em;
}

.time {
	position: absolute;
	bottom: 5px;
	width: 250px;
}

.time p {
	font-size: 14px;
	text-align: center;
}



.prev-next {
	margin: 30px 0;
	padding: 15px;
}

.prev, .next {
	font-size: 16px;
	display: inline-block;
}

.prev {
	float: left;
	text-align: left;
}

.next {
	float: right;
	text-align: right;
}

.prev-next:after {
	content: "";
	display: table;
	clear: both;
}

.prev a, .next a {
	color: #1EA89D;
	}

	.prev a:hover, .next a:hover {
		color: #007572;
	}



/* CALENDAR STYLES */

.intro {
	padding: 60px 0;
}

.cal-container {
	padding: 30px 0;
	background-color: #FAFAFA;
}

	.cal {
		width: 220px;

		padding: 30px 20px;
		margin: 10px;		
	}

		.date1, .date2 {
			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: 700;
		}

		.date1 {
			font-size: 12px;
		}

		.date2 {
			font-size: 40px;
			color: #1EA89D;
			/*margin: -10px;*/
		}

		/*.webinar {
			margin: 35px 0 10px;
		}*/

	.cal:hover .date2 {
		color: #FFFFFF;
	}


/* WEBINAR BAND STYLES */

.intro {
	padding: 60px 0;
}

.intro h3 {
	font-family: 'proxima-nova', sans-serif;
	font-size: 30px;
	margin-bottom: 20px;
}

.intro p {
	font-size: 16px;
}

.intro-wrapper {
	max-width: 800px;
}

.cal-container {
	padding: 60px 0;
}

.webinar-signup {
	width: 100%;
	background-color: #2E95CE;
	padding: 15px 0 3px;
	font-size: 16px;
	color: #FFFFFF;
}


.webinar-signup button {
	background-color: #DA3F5F;
	color: #FFFFFF;
	margin: 0 10px;
}

.webinar-signup button:hover {
	background-color: #D85565;
	color: #FFFFFF;
}