---
layout: default
categories: docs, ads
---

<link href="../assets/css/docs.css" rel="stylesheet" type='text/css'>


<div class="page-hero">
    <div class="container-fluid">
        <div class="hero-left">
        <h1>All the steps to get up and running.</h1>
        <p>Browse our implementation docs and methodology reports to make sure that your Chartbeat code is setup for your specific site design and technical needs.</p>
        </div>
        <div class="hero-right">
            <img src="../assets/img/icon_docs.png">
        </div>
    </div>
</div>



<div class="subnav">
    <div class="container-fluid">
        <ul>
			<a href="../ads/"><li class="active">Getting Started</li></a>
            <a href="../ads/display.html"><li>Display Ads</li></a>
            <a href="../ads/paid.html"><li>Paid Content</li></a>
        </ul>
    </div>
</div>


<!-- <div class="main">

	<div class="menu col-md-3">

		<ul>
	        <li class="captitle">Getting Started Guide</li>
		        <ul class="sublist">
		            <li><a href="#js">Chartbeat JavaScript</a></li>
		            <li><a href="#config">Configuration Variables</a></li>
		            <li><a href="#custom">Optional: Custom Metrics</a></li>
		            <li><a href="#ajax">Special: Dynamic Page Loading / AJAX</a></li>
		        </ul>
	        <li class="captitle">Display Advertising</li>
		        <ul class="sublist">
		            <li><a href="#">Campaign Tracking (DFP Integration)</a></li>
		            <li><a href="#">Campaign Tracking (non-DFP Integration)</a></li>
		        </ul>
	        <li class="captitle">Paid Content</li>
	    </ul>

	</div>
	-->


<div class="container-fluid">

    <div class="content">

    {{ content }}

    </div>


</div>