---
layout: default
categories: edu
---

<link href="{{ site.baseurl }}/assets/css/edu.css" rel="stylesheet" type='text/css'>


<div class="page-hero">
    <div class="container-fluid">
        <div class="hero-left">
        <h1>Learn Tips &amp; Best Practices.</h1>
        <p>Dive into our education resources and best practice videos to take your Chartbeat usage to the next level to best capitalize on real-time opportunities.</p>
        </div>
        <div class="hero-right">
            <img src="{{ site.baseurl }}/assets/img/icon_edu.png">
        </div>
    </div>
</div>


<div class="subnav">
    <div class="container-fluid">
        <ul>
             {% if page.active == "warmup" %}
                <a href="{{ site.baseurl}}/edu/warmup/"><li class="active">Warm Up</li></a>
            {% else %}
                <a href="{{ site.baseurl}}/edu/warmup/"><li>Warm Up</li></a>
            {% endif %}

            {% if page.active == "crashcourse" %}
                <a href="{{ site.baseurl }}/edu/crashcourse/"><li class="active">Crash Course</li></a>
            {% else %}
                <a href="{{ site.baseurl }}/edu/crashcourse/"><li>Crash Course</li></a>
            {% endif %}
            
            {% if page.active == "goingfurther" %}
                <a href="{{ site.baseurl }}/edu/goingfurther/"><li class="active">Going Further</li></a>
            {% else %}
                <a href="{{ site.baseurl }}/edu/goingfurther/"><li>Going Further</li></a>
            {% endif %}
            
            {% if page.active == "schedule" %}
                <a href="{{ site.baseurl }}/edu/schedule.html"><li class="active green">Upcoming</li></a>
            {% else %}
                <a href="{{ site.baseurl }}/edu/schedule.html"><li class="green">Upcoming</li></a>
            {% endif %}
            
            {% if page.active == "glossary" %}
                <a href="{{ site.baseurl }}/edu/glossary.html"><li class="active">Glossary</li></a>
            {% else %}
                <a href="{{ site.baseurl }}/edu/glossary.html"><li>Glossary</li></a>
            {% endif %}
            
        </ul>
    </div>
</div>



<div>

{{ content }}

</div>
