---
layout: edu_layout
categories: edu, crashcourse
active: crashcourse
---

<div class="theater center">
	<iframe src="https://player.vimeo.com/video/{{ content }}" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>


<div class="video-container">
	
	<div class="container-fluid">

		<div class="video-intro center">
			<h3>Ready for more?</h3>
			<h3>Check out the rest of our Crash Courses.</h3>
		</div>

		<div class="video-list">

			<a href="dashboard.html">
			<div class="card video">
				<img class="screenshot" src="{{ site.baseurl}}/assets/img/icon_dash.png">

				<p class="captitle">Crash Course</p>
				<h4>Chartbeat Publishing</h4>

				<div class="time">
					<p><i class="fa fa-clock-o"></i> 49:11</p>
				</div>
			</div>
			</a>

			<a href="video.html">
			<div class="card video">

				<img class="screenshot" src="{{ site.baseurl}}/assets/img/icon_video.png">

				<p class="captitle">Crash Course</p>
				<h4>Video Dashboard</h4>

				<div class="time">
					<p><i class="fa fa-clock-o"></i> 31:55</p>
				</div>
			</div>
			</a>

			<a href="rb.html">
			<div class="card video">
				<img class="screenshot" src="{{ site.baseurl}}/assets/img/icon_rb.png">

				<p class="captitle">Crash Course</p>
				<h4>Report Builder</h4>
				
				<div class="time">
					<p><i class="fa fa-clock-o"></i> 1:00:39</p>
				</div>
			</div>
			</a>


			<div class="prev-next">
				
				<div class="prev">
					<a href="{{ site.baseurl }}/edu/warmup/">
						<p><i class="fa fa-long-arrow-left"></i> <strong>Warm Ups</strong></p>
					</a>
				</div>

				<div class="next">
					<a href="{{ site.baseurl }}/edu/goingfurther/">
						<p><strong>Going Further</strong> <i class="fa fa-long-arrow-right"></i></p>
					</a>
				</div>

			</div>

		</div>


	</div>

</div>